.contact-container{
    width: 100vw;
    height: 100%;
   display: flex;
   justify-content: center;
   align-self: center;
background: rgb(0, 0, 0,0.5) url("https://source.unsplash.com/random/1600x900?world");
background-size: cover;
background-blend-mode: darken;
color: white;
     
   
}

.google-map{
     width: 50%;
     height: 70vh;
     margin-top: 100px;
}


.main-contact{
    width: 50%;
    height: 74vh;
    margin: 91px 40px;

}
.main-contact h2{
    text-align: center;
}

.form-box{
    padding-left: 0px;
}
.form-box input{
    width: 439px;
    height: 25px;
    border-radius: 8px;
    padding: 5px 5px;
}

.form-box button{
    background-color: #ff7100;
    padding: 9px 33px;
    color: wheat;
    font-weight: 700;
    border-radius: 10px;
   cursor: pointer;
   margin-top: 18px;
}


@media(max-width:1200px){

    .contact-container{
        display: block;
           
    }
    .google-map{
        margin-top: 50px;
        margin-left: -50px;     
    }
 
    
}



@media(max-width:450px){


    .contact-container{
        width: 125%;
    }

    .google-map{
        margin-top: 50px;
        margin-left: -100px;     
    }
}