
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Ubuntu', sans-serif;
 
    max-width: 100vw;
    overflow-x: hidden;
}
h1{
  
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p{
    color: dimgrey;
    font-size: 20px;
}


.orange-highlight{ color: rgb(253, 212, 27);}




/* ----------------------------------- */

.font-profile{

    display: flex;
    height: 100vh;
    background: rgb(0, 0, 0,0.4) url("https://source.unsplash.com/random/1600x900?website-background");
    background-size: cover;
    background-blend-mode: darken;
    color: white;
}

.font-profile p{
    color: white;
}
.left-nav {
    background: rgb(0, 0, 0,0.7) url("https://source.unsplash.com/random/1600x900?background");
    background-size: cover;
    background-blend-mode: darken;
     color: white;
     padding: 4%;
     width: 20vw;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     transform: translate(-350px);
     transition: all 0.5s ease-out;
     height: 100vh;
}
@media(max-width:450px){
    .left-nav{
        width: 60vw;
    }
    .hambar i{
         padding: 5px;
    }
}

.active .left-nav{ transform: translate(0px)  }

.nav-list{
 margin-top: 30px;
 padding:0;
}

.nav-list li{
    padding: 15% 9%;
    list-style: none;

}

.nav-list li a{
text-decoration: none;
font-size: 25px;
color: white;
}
.profile-container{
     width: 100vw;     
}

.main-profile{
   
    width: 100vw;
    height: 74vh;
    margin: 20px -70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dev-info{
    width: 30vw;
}
.buttons button{
    background-color: #f76c11;
    padding: 5px 10px;
    border-radius: 23px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
   
     margin-top: 10px;
}
.buttons button:hover{
    background-color:white;
    color:#f76c11; 
}

.main-profile img{
    width: 20vw  ;
}

.hambar {
   
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    cursor: pointer;
    display: block;
      
}
.hambar i{
     font-size: 30px;
     cursor: pointer;
     margin: 10px;  
   
}

 i[id="open-bar"]{
    display: block;
    color: red;
}
i[id="close-bar"]{
display: none;
}




@media(max-width:1715px){
    
    .active i[id="open-bar"]{
        display: none;
    }
    .active i[id="close-bar"]{
        display: block;
    }
}

@media(max-width:1000px){

    .dev-info{
        width: 77vw;
        padding-left: 79px;
    }
    .main-profile img{
        display: none;
    }
}









.half-width{ 
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{ 
    width: 70%;
    
}


.top-banner{   
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, orange,orangered);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.dream-area{ 
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{ 

   background-image: url("images/exp-bg.png");
   background-repeat: no-repeat;
   background-position: left;
}

.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 80%;
    padding-top: 2%;
    
}


#full-stack{
    border-left: 7px solid;
     border-image: linear-gradient(150deg, orange,tomato);
     border-image-slice: 1;
}


#new-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,rgb(105, 63, 223),rgb(53, 0, 138));
    border-image-slice:1;
}
/* footer p{
    text-align: center;
} */



@media(max-width:1150px){


   h1{
    font-size: 30px;
   }
   h2{
    font-size: 20px;
   }
 p{
    font-size: 17px;
 }
   .single-experience{
    height: 90%;
}
}

@media(max-width:660px){

    .half-width{
        width: 70%;
    }
    .half-width img{ 
        display: none;
    }

    .single-experience{
        height: 80%;
        
    }
    .half-width h2{
        color: red;
    }
    #new-dev{
        margin-top: 50px;
    }
    
}
 
@media(max-width:450px){

     h1{
        font-size: 30px;
        
       }
       h2{
        font-size: 20px;
       }
       h3{
        font-size: 15px;
       }
     p{
        font-size: 14px;
     }
       .single-experience{
        height: 80%;
    }
}





footer{ background-color:rgb(226, 238, 226);margin-top: 200px;}
.align h5{  position: relative;left: 30px;}
.app{ display: flex;justify-content: center;align-items: center;}
.app i{ border: 2px solid black;padding: 20px 100px; font-size: 20px; }
.boxs{ margin-top: 20px;}

@media(max-width:992px){

  .align{   position: relative;left: -30px;}
}